body {
  line-height: 1.6;
  color: #444;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.main {
  margin: 5vh 15vw 5vh 15vw;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic {
  width: 40vw;
  height: auto;
}

.title {
  font-size: 5em;
  font-weight: bold;
  color: #1190d4;
  text-align: center;
  margin: 0 0 0 0;
}

.subtitle {
  font-size: 2.7em;
  font-weight: bold;
  text-align: center;
  margin: 0 0 0 0;
}

.content > * {
  font-size: 2.2em;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vh 1vw 1vh 1vw; 
}

.nav a {
  color: #444;
  text-decoration: none;
  font-size: 2.2em;
  font-weight: bold;
}

.sep {
  font-size: 2.2em;
}

section:not(:first-child) {
  margin-top: 3vh;
}

@media (min-width: 1200px) {
  .main {
    margin: 3vh 30vw 5vh 30vw;
  }

  .header {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .pic {
    width: 15vw;
  }

  .title {
    font-size: 3em;
  }

  .subtitle {
    font-size: 1.75em;
  }

  .content > * {
    font-size: 1.3em;
  }

  .nav > a {
    font-size: 1.4em;
  }

  .sep {
    font-size: 1.4em;
  }
}
