body {
    margin: 4% auto;
    max-width: 35%;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
    line-height: 1.2
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#header-text {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

#subheader-text {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

#navbar {
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 1%;
}

.nav-button {
    flex-grow: 1;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    text-decoration: none;
}

#header-text, a {
    color: #1190d4;
}

#pic {
    width: 30%;
    height: auto;
}