@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  line-height: 1.6;
  color: #444;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.btn {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}
